*.pyc
venv/
__pycache__/
.idea/
.DS_Store
*.log
*.env
.env.*
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
coverage/
htmlcov/
*.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
*.pkl
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.pb
*.tflite
Pulumi.dev.yaml
